
#footer {
    height: 350px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20px;
    padding-top: 60px;
    overflow: auto;
}

#footer-vspr {
    color: white;
    font-size: 70px;
    padding-bottom: 60px;
}

 #footer-vault, #footer-wp, #footer-contact {
    color: white;
    font-size: 64px;
}

#footer a:link{
    text-decoration: none;
}

#footer-vspr {
    margin-left: 50px;
}

#footer-vault, #footer-wp, #footer-contact {
    margin-left: 100px;
    margin-top: 50px;
}